<form action="/" method="POST">
    <input type="text" name="origin" placeholder="ingrese url" class="form-control my-2">
    <button type="submit" class="btn btn-primary w-100 mb-4">Agregar URL</button>
</form>